{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# Cronjob to execute the Ceilometer data expirer (only expire samples) according to the configuration setting "time_to_live"
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=""
30 0,4,8,12,16 * * * ceilometer {{ ceilometer_expirer_bin_dir }}/ceilometer-expirer --config-file {{ ceilometer_expirer_conf_dir }}/ceilometer.conf  --config-file {{ ceilometer_expirer_conf_dir }}/expirer.conf --sql-expire-samples-only
# Cronjob to execute the Ceilometer data expirer (expire samples, meters, resources and metadata) according to the configuration setting "time_to_live"
30 20 * * * ceilometer {{ ceilometer_expirer_bin_dir }}/ceilometer-expirer --config-file {{ ceilometer_expirer_conf_dir }}/ceilometer.conf --config-file {{ ceilometer_expirer_conf_dir }}/expirer.conf
