{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
[Unit]
Description=Monasca Api
After=kafka.service influxdb.service mysql.service

[Service]
Type=simple
User={{ monasca_api_user }}
Group={{ monasca_group }}
LimitNOFILE=32768
Restart=on-failure
ExecStart=/usr/bin/java {{ monasca_api_java_opts }} -cp {{ monasca_jars_virtualenv_dir }}/lib/monasca-api-{{monasca_api_version}}-shaded.jar:{{ vertica_jdbc_location }} monasca.api.MonApiApplication server {{ 'monasca' | config_dir() }}/api-config.yml

[Install]
WantedBy=multi-user.target
