#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# Setup LBaaS V2/V1 agent specific configuration files.
---
- include: _write_conf.yml
  src: "lbaas_agent.ini.j2"
  dest: "lbaas_agent.ini"

- name: Neutron Common | configure_lbaasv2_agent | lbaas_agent.ini change
  set_fact:
    neutron_lbaasv2_agent_restart_required: true
    neutron_lbaas_agent_restart_required: true
  when: write_conf_result.changed==true

- include: _write_conf.yml
  src: "lbaas-agent-logging.conf.j2"
  dest: "lbaas-agent-logging.conf"

- name: Neutron Common | configure_lbaasv2_agent | lbaas-agent-logging.conf change
  set_fact:
    neutron_lbaasv2_agent_restart_required: true
    neutron_lbaas_agent_restart_required: true
  when: write_conf_result.changed==true
