{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
---
keystone_admin_token: "{{ KEY_API.vars.keystone_admin_token | hos_user_password_encrypt(pass_through_key) }}"
keystone_admin_url: "{{ KEY_API.advertises.vips.admin[0].url }}"
keystone_private_url: "{{ KEY_API.advertises.vips.private[0].url }}"
keystone_public_url: "{{ KEY_API.advertises.vips.public[0].url }}"
keystone_admin_user: "{{ KEY_API.vars.keystone_admin_user }}"
keystone_admin_role: "{{ KEY_API.vars.keystone_admin_role }}"
keystone_admin_project: "{{KEY_API.vars.keystone_admin_tenant  }}"
keystone_service_role: "{{ KEY_API.vars.keystone_admin_role }}"
keystone_service_project: "{{ KEY_API.vars.keystone_service_tenant }}"
keystone_default_domain: "{{ KEY_API.vars.keystone_default_domain }}"
keystone_cloudadmin_domain: "{{ KEY_API.vars.keystone_cloudadmin_domain }}"
