{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
{{ interface_file_marker }}
auto {{ item.device }}
{% if item.bootproto == 'manual' %}
iface {{ item.device }} inet manual
{% elif item.bootproto == 'static' %}
iface {{ item.device }} inet static
{% if item.address is defined %}
  address {{ item.address }}
{% endif %}
{% if item.netmask is defined %}
  netmask {{ item.netmask }}
{% endif %}
{% elif item.bootproto == 'dhcp' %}
iface {{ item.device }} inet dhcp
{% endif %}
{% if item.vlanrawdevice is defined %}
  vlan-raw-device {{ item.vlanrawdevice }}
{% if disable_lro %}
  pre-up ethtool -K {{ item.vlanrawdevice }} lro off || true
{% endif %}
{% endif %}
{% if item.ovs_bridge is defined %}
  up ip link set {{ item.device }} up || true
{% endif %}

{% if item.route is defined %}
{% for i in item.route %}
{% if i.netmask == '0.0.0.0' %}
  pre-up ip route delete default || true
{% endif %}
  up route add -net {{ i.network }}  netmask {{ i.netmask }} gw {{ i.gateway }} dev {{ item.device }} || true
  down route delete -net {{ i.network }} netmask {{ i.netmask }} gw {{ i.gateway }} dev {{ item.device }} || true
{% endfor %}
{% endif %}
{% if item.routing_table is defined %}
{% if item.address is defined %}
{% if item.gateway is defined %}
  up ip route add default via {{ item.gateway }} table {{ item.routing_table }} || true
  down ip route delete default via {{ item.gateway }} table {{ item.routing_table }} || true
{% if item.cidr is defined %}
  up ip route add {{ item.cidr }} dev {{ item.device }} table {{ item.routing_table }} || true
  down ip route delete {{ item.cidr }} dev {{ item.device }} table {{ item.routing_table }} || true
{% endif %}
  up ip rule add from {{ item.address }} table {{ item.routing_table }} || true
  down ip rule delete from {{ item.address }} table {{ item.routing_table }} || true
{% if item.vips is defined %}
{% for vip in item.vips %}
  up ip rule add from {{ vip }} table {{ item.routing_table }} || true
  down ip rule delete from {{ vip }} table {{ item.routing_table }} || true
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
