#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
---
# See: https://www.rabbitmq.com/man/rabbitmq-plugins.1.man.html
- name: rabbitmq | _enable-plugins | Enable any new RabbitMQ plugins
  rabbitmq_plugin:
    names: "{{ rabbitmq_plugins | join (' ') }}"
    state: enabled
  when: ( rabbitmq_plugins | default([]) | length ) > 0
