{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
[Unit]
SourcePath=/etc/init.d/elasticsearch
Description=LSB: Starts elasticsearch
Before=runlevel2.target runlevel3.target runlevel4.target runlevel5.target shutdown.target logstash.service
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target logstash.service
Conflicts=shutdown.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SysVStartPriority=1
ExecStart=/etc/init.d/elasticsearch start
ExecStop=/etc/init.d/elasticsearch stop

[Install]
WantedBy=multi-user.target
