{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
[drive-audit]
device_dir = {{ swift_devices }}
log_facility = LOG_LOCAL0
log_level = DEBUG
minutes = 240
error_limit = 1
unmount_failed_device = False
log_to_console = True
regex_pattern1 = \berror\b.*\b(sd[a-z]){1,2}\d?\b
regex_pattern2 = \b(sd[a-z]){1,2}\d?\b.*\berror\b

