#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
---
logr_services:
  neutron-mda:
    logging_options:
    - centralized_logging:
        enabled: false
        format: json
      files:
      - /var/log/neutron/neutron-metadata-agent.log
      log_rotate:
      - daily
      - compress
      - missingok
      - notifempty
      - copytruncate
      - maxsize 45M
      - rotate 7
      - create 640 neutron neutron
    - centralized_logging:
        enabled: true
        format: rawjson
      files:
      - /var/log/neutron/neutron-metadata-agent-json.log
      log_rotate:
      - daily
      - compress
      - missingok
      - notifempty
      - copytruncate
      - maxsize 45M
      - rotate 5
      - create 640 neutron neutron
    - centralized_logging:
        enabled: false
        format: json
      files:
      - /var/log/neutron/neutron-ns-metadata-proxy*.log
      log_rotate:
      - daily
      - compress
      - missingok
      - notifempty
      - copytruncate
      - maxsize 100K
      - rotate 1
      - create 640 root root
