#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#

[Unit]
Description=Neutron OVS Cleanup Service
After=openvswitch-switch.service
Before=neutron-openvswitch-agent.service
Before=neutron-l3-agent.service
Before=neutron-dhcp-agent.service

[Service]
Type=oneshot
ExecStart=/opt/stack/service/neutron/venv/bin/neutron-ovs-cleanup --logfile /var/log/neutron/neutron-ovs-cleanup.log --config-file=/opt/stack/service/neutron/venv/etc/neutron/neutron.conf
User=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=neutron-ovs-cleanup.service
