#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# This file will contain the default values for the nova ironic component
---
## [ironic]
ironic_api_endpoint_url: "{{ NOV_IRN.consumes_IRN_API.vips.admin[0].url }}/v1"
admin_tenant_name : "{{ KEY_API.vars.keystone_service_tenant }}"
keystone_ironic_password : "{{ IRN_API.consumes_KEY_API.vars.keystone_ironic_password | quote }}"
keystone_ironic_user : "{{ IRN_API.consumes_KEY_API.vars.keystone_ironic_user }}"
ironic_admin_auth_uri : "{{ IRN_API.consumes_KEY_API.vips.admin[0].url }}/v2.0"
