#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
---

- include: ../../neutron-common/tasks/create_systemd_service.yml
  neutron_service_cmd: "neutron-vpn-agent"
  neutron_service_cmd_args: "--config-file={{ neutron_conf_dir }}/l3_agent.ini --config-file={{ neutron_conf_dir }}/fwaas_driver.ini --config-file={{ neutron_conf_dir }}/vpn_agent.ini --config-file={{ neutron_conf_dir }}/neutron.conf --log-file={{ neutron_log_dir }}/neutron-vpn-agent.log"
