{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# This file has the values that apply to neutron metadata-agent.
# Changes may be made to this file by customers.

[DEFAULT]
log_config_append = {{ neutron_metadata_agent_logging_config_file }}
metadata_backlog = 4096
metadata_workers = 10
admin_user = {{ neutron_admin_user }}
admin_password = {{ neutron_admin_password }}
admin_tenant_name = {{ keystone_admin_tenant_name }}
metadata_proxy_shared_secret = {{ nova.metadata_proxy_shared_secret }}
state_path = {{ neutron_common_rundir }}
auth_url = {{ neutron_auth_url }}
auth_region = region-ccp
nova_metadata_port = {{ neutron_nova_metadata_port }}
nova_metadata_ip = {{ neutron_nova_metadata_ip }}


### Add new values here


### Don't add anything after this line
