#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
---

cinder_component: cinder-volume

cinder_volumes_file_size_mb: 5000

# flag to track restart requirement during reconfigure
cinder_volume_restart_required: false
# flag to track if venv activation is required during start
cinder_volume_activate_required: false

# Default service directories
cinder_volume_conf_dir: "{{ 'cinder-volume' | config_dir() }}"
cinder_volume_venv_share_dir: "{{ 'cinder-volume' | share_dir() }}/cinder"
